{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fill-btn.css' %}">
    <link rel="stylesheet" href="{% static 'css/sliders.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <title>{{company.name}}</title>
</head>

<body>

    <!-- Start Wrapper -->
    <div class="wrapper">

        <!-- Start Banners section -->
        <section class="full-height banner-section remove-on-mobile">
            <div class="grid-container grid-col-3-1-1">
                <div class="grid-container big-padding">
                    <div class="image-container w-0">
                        <img src="{% static 'img/red-car.png' %}" alt="">
                    </div>
                    <div class="main__header">
                        <div class="header__logo">
                            <img src="{{company.logo.url}}" alt="" class="logo-img">
                        </div>
                        <a href="#foot" class="header__link smooth-scroll">
                            About Us
                        </a>
                        <a href="#foot" class="header__link smooth-scroll">
                            Contacts
                        </a>
                    </div>
                    <div class="main">
                        <div class="main__title">
                            Electric cars <br> of world brands
                        </div>
                        <div class="main__subtitle">
                            You can buy a car of any configuration here<br>
                            With comfort and at favorable prices
                        </div>
                        <a href="{% url 'brands' %}" class="main__btn fill-btn">
                            <span class="fill-btn__text">
                                Choose a model
                                &nbsp;
                                <i class="fa-solid fa-angle-right"></i>
                            </span>
                            <div class="fill-btn__area"></div>
                        </a>
                    </div>
                </div>
                <div class="grid-container grid-row-3-2">
                    <div class="banner corner-radius">
                        <div class="image-container">
                            <img src="{% static 'img/green-car.png' %}" alt="">
                        </div>
                    </div>
                    <div class="banner">
                        <div class="banner-content dark-bg">
                            <div class="flex-container p-30-20">
                                <div class="video-title">
                                    Video with a new car delivery
                                </div>
                                <span class="video-btn play-video">
                                    <i class="fa fa-play"></i>
                                </span>
                            </div>
                        </div>
                        <div class="image-container w-0">
                            <img src="{% static 'img/white-jeep.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="grid-container grid-row-2-3">
                    <div class="flex-container p-30-20">
                        <div class="content-top">
                            <div class="banner-title">
                                You can buy any
                                spare parts
                                from us
                            </div>
                            <div class="banner-subtitle">
                                Body, car window and
                                accessories
                            </div>
                        </div>
                        <a href="" class="content-bottom">
                            View all
                            &nbsp;
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                    <div class="banner radius-top-left">
                        <div class="image-container">
                            <img src="{% static 'img/disk.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Banners section -->

        <!-- Start Mobile Banners section -->
        <section class="full-height mobile-banner-section remove-on-pk"> 
            <div class="mobile-banner-section__bg">
                <img src="{% static 'img/red-car.png' %}" alt="">
            </div>
            <div class="mobile-banner-section__burger-btn"></div>
            <div class="mobile-banner-section__sidebar">
                <a href="{% url 'brands' %}" class="mobile-banner-section__sidebar-link">
                    Catalog of models
                </a>
                <a href="" class="mobile-banner-section__sidebar-link">
                    Top car rating
                </a>
                <a href="" class="mobile-banner-section__sidebar-link">
                    Buy spare parts
                </a>
                <a href="" class="mobile-banner-section__sidebar-link">
                    About Company
                </a>
                <a href="" class="mobile-banner-section__sidebar-link">
                    Contacts
                </a>
            </div>
            <div class="mobile-banner-section__header">
                <div class="mobile-banner-section__logo">
                    <a href="">
                        <img src="{{company.logo.url}}" alt="">
                    </a>
                </div>
            </div>
            <div class="mobile-banner-section__content">
                <div class="mobile-banner-section__title">
                    Electric cars <br> of world brands
                </div>
                <div class="mobile-banner-section__subtitle">
                    You can buy a car from us<br> any configuration<br>
                    with a comfortable interior<br> and at competitive prices
                </div>
                <a href="{% url 'brands' %}" class="mobile-banner-section__btn fill-btn">
                    <span class="fill-btn__text">
                        Choose a model
                        &nbsp;
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                    <div class="fill-btn__area"></div>
                </a>
            </div>
        </section>
        <!-- End Mobile Banners section -->

        <!-- Start Slider section -->
        <section class="full-height slider-section remove-on-mobile">
            <div class="slider-section__header">
                New models
            </div>
            <div class="slider-section__content">
                {% for item in cars %}
                <div id="slide-{{item.id}}" class="content__data {% if forloop.first %}active{% endif %}">
                    <div class="data__details">
                        <div class="data__subtitle">
                            Model
                        </div>
                        <div class="data__title">
                            {{item.name}}
                        </div>
                        <div class="data__mini">
                            Year of issue {{item.manufacture_year}}
                        </div>
                        <div class="data__mini">
                            price {{item.formatted_price}} $
                        </div>
                    </div>
                    <div class="data__btns">
                        <div class="data__btn car-slider-left margin-right">
                            <img src="{% static 'img/back arrow left.svg' %}" alt="">
                        </div>
                        <div class="data__btn car-slider-right">
                            <img src="{% static 'img/back arrow left.svg' %}" alt="" style="transform: rotate(180deg);">
                        </div>
                    </div>
                    <div class="data__table">
                        <div class="table__tr">
                            <div class="table__th">
                                Engine type
                            </div>
                            <div class="table__td">
                                <span class="icon-circle">
                                    <img src="{{item.engine_type.image.url}}" alt="">
                                </span>
                                &nbsp;
                                {{item.engine_type}}
                            </div>
                        </div>
                        <div class="table__tr">
                            <div class="table__th">
                                Acceleration to 100 km/h
                            </div>
                            <div class="table__td">
                                {{item.acceleration}} sec
                            </div>
                        </div>
                        <div class="table__tr">
                            <div class="table__th ml">
                                Power reserve
                            </div>
                            <div class="table__td ml">
                                {{item.power_reserver_from}} km - {{item.power_reserver_to}} km
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="content__media">
                    <div class="image-slider swiper-container">
                        <div class="image-slider__wrapper swiper-wrapper">
                    
                            {% for item in cars %}
                            <div data-hash="slide-{{item.id}}" class="image-slider__slide swiper-slide" style="display: flex; flex-direction: column; justify-content: space-between;">
                                <div class="media__image">
                                    <img src="{{item.first_image.image.url}}" alt="">
                                </div>
                                <div class="media__text">
                                    <a href="{% url 'car-profile' item.id %}">
                                        View car
                                        &nbsp;
                                        <i class="fa-solid fa-angle-right" style="transform: translate(0, 1px);"></i>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Slider section -->

        <!-- Start Mobile Slider section -->
        <section class="mobile-slider-section remove-on-pk">
            <div class="mobile-slider-section__header">
                New models
            </div>
            <div class="mobile-slider-section__content">
                <div class="image-slider swiper-container">
                    <div class="image-slider__wrapper swiper-wrapper">
                
                        {% for item in cars %}
                        <div data-hash="slide-{{item.id}}" class="image-slider__slide swiper-slide">
                            <div class="mobile-slider-section__box">
                                <div class="mobile-slider-section__details">
                                    <div class="mobile-slider-section__subtitle">
                                        Model
                                    </div>
                                    <div class="mobile-slider-section__title">
                                        {{item.name}}
                                    </div>
                                    <div class="mobile-slider-section__mini">
                                        Year of issue {{item.manufacture_year}}
                                    </div>
                                    <div class="mobile-slider-section__mini">
                                        price {{item.formatted_price}} $
                                    </div>
                                </div>
                                <div class="mobile-slider-section__image">
                                    <img src="{{item.first_image.image.url}}" alt="">
                                </div>
                                <div class="mobile-slider-section__table">
                                    <div class="mobile-slider-section__tr">
                                        <div class="mobile-slider-section__th">
                                            Engine type
                                        </div>
                                        <div class="mobile-slider-section__td">
                                            <span class="icon-circle">
                                                <img src="img/energy.png" alt="">
                                            </span>
                                            &nbsp;
                                            {{item.engine_type}}
                                        </div>
                                    </div>
                                    <div class="mobile-slider-section__tr">
                                        <div class="mobile-slider-section__th">
                                            Acceleration to 100 km/h
                                        </div>
                                        <div class="mobile-slider-section__td">
                                            {{item.acceleration}} sec
                                        </div>
                                    </div>
                                    <div class="mobile-slider-section__tr">
                                        <div class="mobile-slider-section__th">
                                            Power reserve
                                        </div>
                                        <div class="mobile-slider-section__td">
                                            {{item.power_reserver_from}} km - {{item.power_reserver_to}} km
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="mobile-slider-section__btns">
                    <div class="mobile-slider-section__btn car-slider-left margin-right">
                        <img src="{% static 'img/back arrow left.svg' %}" alt="">
                    </div>
                    <div class="mobile-slider-section__btn car-slider-right">
                        <img src="{% static 'img/back arrow left.svg' %}" alt="" style="transform: rotate(180deg);">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Mobile Slider section -->

        <!-- Start Logo section -->
        <section class="logo-section">
            <div class="logo-section__header">
                Popular car brands
            </div>
            <div class="logo-section__content">
                <div class="content__logos">
                    {% for item in brands %}
                    <div class="logo__item {{item.zoom_type}}">
                        <img src="{{item.logo.url}}" alt="">
                    </div>
                    {% endfor %}
                </div>
                <div class="content__link">
                    <a href="{% url 'brands' %}">
                        View catalog
                        &nbsp;
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- End Logo section -->

        <!-- Start Advert section -->
        <section class="advert-section">
            <div class="advert-section__header">
                Top best electric cars
            </div>
            <div class="advert-section__banners">
                {% for item in featured_cars %}
                <div class="banner__item">
                    <div class="banner__image">
                        <img src="{{item.poster_image.image.url}}" alt="">
                    </div>
                    <div class="banner__content">
                        <div class="banner__info">
                            <div class="banner__title">
                                {{item.name}}
                            </div>
                            <div class="banner__subtitle">
                                <span>Power reserve</span> {{item.power_reserver_from}} km - {{item.power_reserver_to}} km &nbsp;|&nbsp; <span>Engine type</span> {{item.engine_type}}
                            </div>
                        </div>
                        <div class="banner__link">
                            <a href="{% url 'car-profile' item.id %}">
                                View model
                                &nbsp;
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- End Advert section -->

        <!-- Start Delivery section -->
        <section class="delivery-section">
            <div class="delivery-section__header">
                <div class="delivery-section__title">
                    arma
                </div>
                <div class="delivery-section__subtitle">
                    electric & hybrid cars
                </div>
            </div>
            <div class="delivery-section__content">
                <div class="delivery-section__data">
                    <div class="delivery-data__title">
                        Car delivery <br> to any point in Uzbekistan
                    </div>
                    <div class="delivery-data__subtitle">
                        We can deliver your electric car <br> in any city of Uzbekistan
                    </div>
                    <div class="delivery-section__media inner remove-on-pk">
                        <img src="{% static 'img/car pic.png' %}" alt="">
                    </div>
                    <a href="{% url 'brands' %}" class="delivery-data__btn">
                        Choose a model
                        &nbsp;
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
                <div class="delivery-section__media remove-on-mobile">
                    <img src="{% static 'img/car pic.png' %}" alt="">
                </div>
            </div>
        </section>
        <!-- End Delivery section -->

        <!-- Start Review section -->
        <section class="review-section">
            <div class="review-section__header">
                Leave a request
            </div>
            <div class="review-section__content">
                <form method="post" id="review_form" class="review-section__form">
                    {% csrf_token %}
                    <input type="text" name="type" value="new_review" style="display: none;">
                    <div class="review-section__input-group">
                        <input type="text" id="review_name" name="name" class="review-section__input" placeholder="Ваше имя">
                    </div>
                    <div class="review-section__input-group">
                        <input type="text" id="review_phone_number" name="phone_number" class="review-section__input" placeholder="Номер телефона">
                    </div>
                    <div class="review-section__input-group double">
                        <select id="review_model_id" name="model_id" class="review-section__select">
                            <option value="">Which model are you interested in?</option>
                            {% for item in cars %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {% endfor %}
                        </select>
                        <input type="time" id="review_time" name="time" class="review-section__input">
                    </div>
                    <div class="review-section__submit">
                        <div class="review-section__btn fill-btn dark submit-review-form">
                            <span class="fill-btn__text">
                                Send
                                <i class="fa-solid fa-chevron-right" style="transform: translate(0, 1px);"></i>
                            </span>
                            <div class="fill-btn__area"></div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- End Review section -->

        <!-- Start Footer section -->
        <section class="footer-section">
            <div class="footer-section__links">
                <div class="footer-section__link-row" id = "foot">
                    <div class="footer-section__link-th">Our address</div>
                    <div class="footer-section__link-td">{{company.address}}</div>
                </div>
                <hr style="border: 1px solid #999;">
                <div class="footer-section__link-row">
                    <div class="footer-section__link-th">Work time</div>
                    <div class="footer-section__link-td">{{company.working_time}}</div>
                </div>
                <hr style="border: 1px solid #999;">
                <div class="footer-section__link-row">
                    <div class="footer-section__link-th">Contacts</div>
                    <div class="footer-section__link-td">{{company.phone_number}}</div>
                </div>
            </div>
            <div class="footer-section__media">
                <a href="https://www.instagram.com/arma_carsuz/" class="footer-section__media-block main">
                    <div class="footer-section__bg">
                        <img src="{% static 'img/insta square.svg' %}" alt="">
                    </div>
                    <div class="footer-section__logo">
                        <img src="{% static 'img/instagram-2.png' %}" alt="">
                    </div>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61576282466365" class="footer-section__media-block">
                    <div class="footer-section__bg">
                        <img src="{% static 'img/Facebook square.svg' %}" alt="">
                    </div>
                    <div class="footer-section__logo">
                        <img src="{% static 'img/facebook.png' %}" alt="">
                    </div>
                </a>
                <a href="https://t.me/ARMA_cars" class="footer-section__media-block">
                    <div class="footer-section__bg">
                        <img src="{% static 'img/Telegram  square.svg' %}" alt="">
                    </div>
                    <div class="footer-section__logo">
                        <img src="{% static 'img/Telegram.png' %}" alt="">
                    </div>
                </a>
            </div>
        </section>
        <!-- End Footer section -->

    </div>
    <!-- End Wrapper -->

    <!-- Start popups -->
    <div id="video-popup" class="popup simple">
        <span class="popup__area"></span>
        <div class="popup__body">
            <div class="popup__content">
                <video controls>
                    {% if company.last_video %}
                    <source src="{{company.last_video.url}}" type="video/mp4">
                    {% endif %}
                </video>
            </div>
        </div>
    </div>
    <!-- End popups -->
    <script>
        document.querySelectorAll('a.smooth-scroll').forEach(link => {
          link.addEventListener('click', function(e) {
            e.preventDefault();
            const targetId = this.getAttribute('href').substring(1);
            const target = document.getElementById(targetId);
      
            if (target) {
              target.scrollIntoView({
                behavior: 'smooth'
              });
            }
          });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/fcf5c091af.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/sliders.js' %}"></script>
    <script src="{% static 'js/main_page.js' %}"></script>
</body>

</html>